.header{
    text-align: center;
    background-color: cornflowerblue;
    height: 50px;
    color: white;
    margin-bottom: 10px;
    width: auto;
} 
 img{
    height: 80px;
    text-align: center;

}